extends layout

block content 
  h1 Skill
    |  - #{the_skill.name}

  hr
  p 
    b Skill description
  p #{the_skill.description}

  if the_skill.requirements.length != 0
    hr
    p
      b Prerequisites

    ul
    each req in the_skill.requirements
      li
        a(href=req.url) #{req.name} 
        p.req_description #{req.description}

  if the_skill.sub_skills.length != 0
    hr
    p
      b Sub-skills

    ul
    each sub_skill in the_skill.sub_skills
      li
        a(href=sub_skill.url) #{sub_skill.name} 
        p.sub_skill_description #{sub_skill.description}
  else
    hr
    
    if (basic_count == 0 && intermediate_count == 0 && advanced_count == 0)
      p
        b Currently no questions for this skill
    else 
      p
        b Questions
      ul
        if basic_count > 0
          li
            a(href=the_skill.url + '/questions/basic') Basic level
        else 
          li
            div(data-toggle="tooltip" title="Currently no questions for this level").empty Basic level

        if intermediate_count > 0
          li
            a(href=the_skill.url + '/questions/intermediate') Intermediate level
        else 
          li
            div(data-toggle="tooltip" title="Currently no questions for this level").empty Intermediate level
        
        if advanced_count > 0
          li
            a(href=the_skill.url + '/questions/advanced') Advanced level
        else 
          li
            div(data-toggle="tooltip" title="Currently no questions for this level").empty Advanced level

  if(editable)
    hr
    p
      b Instructor's action

    button.btn.btn-primary(onclick="window.location.href='"+the_skill.url+"/update'") Edit

  link(rel="stylesheet" type="text/css" href="/stylesheets/skill_detail.css")