extends layout

block content 
  h1 Question for skill - 
    a(href=question.skill.url) #{question.skill.name}

  hr
  p 
    b Question text
  p!= question.html

  hr
  
  - if (options.length)
    p
      b Options

    form(method='GET' action='')
      div.form-group
        - for (var i = 0; i < options.length; i++)
          div.form-check.question-option
            input.form-check-input(type='checkbox' name='options'+i id='option'+i value=options[i]._id checked=options[i].if_checked)
            | 
            b Option!{i+1}
            label.form-check-label.option-label(for='option'+i)
            - if (options[i].category==='text')
              - if (options[i].if_correct!==undefined)
                - if (options[i].if_correct)
                  |
                  b.message_correct !{options[i].text}
                - else 
                  |
                  b.message_incorrect !{options[i].text}
              - else 
                | !{options[i].text}

            - if (options[i].category==='audio')
              audio(preload="auto" autobuffer controls)
                source(src=options[i].audio)
              - if (options[i].if_correct!==undefined)
                - if (options[i].if_correct)
                  p.message_p
                    b.message_correct - Correct.
                - else 
                  p.message_p
                    b.message_incorrect - Incorrect.

            - if (options[i].category==='picture')
              img(src=options[i].picture alt="picture for option"+(i+1))
              - if (options[i].if_correct!==undefined)
                - if (options[i].if_correct)
                  p.message_p
                    b.message_correct - Correct.
                - else 
                  p.message_p
                    b.message_incorrect - Incorrect.
                
      hr
      - if (question.all_correct!==undefined&&!question.all_correct)
        p You didn't check all the correct answers.
      - for (var i = 0; i < options.length; i++)
        - if (options[i].if_checked!==undefined&&!options[i].if_correct)
          p 
            b Feedback for option#{i+1}: 
            | #{options[i].feedback}
      button.btn.btn-primary.submit-button(type='submit') Submit
  - else
    p
      b No options to display

  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(src="/javascripts/question_detail.js")
  link(rel="stylesheet" type="text/css" href="/stylesheets/question_detail.css")